/*header*/
@import url('https://fonts.googleapis.com/css?family=Charm|Montserrat|Open+Sans');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	background: black;
}

h1,h2,h3,h3,h5,h6{
	font-family: var(--h-font-family);
	
}

p{
	font-family: var(--p-font-family);
}

	/* pop up*/
	
	.form-overlay {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.84);
	position: fixed;
	z-index: 9999;
	transform: translateY(-100%);
	transition: 0.8s
}

.popup-form {
	max-width: 30%;
	height: 500px;
	width: 100%;
	background: #FFFFFF;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	padding: 0px 30px;
}

.closeBtn {
	position: absolute;
    right: -17px;
    top: -13px;
	font-family: var(--h-font-family);
}

.closeBtn a {
	color: var(--white);
	background: var(--red);	
	text-decoration: none;
	border: solid 1px #000;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: inline-block;
    text-align: center;
    line-height: 32px;
}
.closeBtn:hover a{
background: var(--red);
}

/*pop-up form*/

.popup-form h2 {
    margin: 50px 30px;
    text-align: center;
    font-weight: 600;
}
 form input[type="text"], form input[type="email"],  form button[type="submit"]{
	height: 52px;
    color: #1a1a1a;
    width: 100%;
    resize: none;
    border: 1px solid #ccc;
    padding: 15px;
    font-family: "Montserrat",sans-serif;
    font-size: 16px;
    transition: 1s;
	display: inline-block;
	margin-bottom:10px;   
    
}
form button[type="submit"]{
	background: var(--red);
	color: var(--white);
	border:0px;	
	padding: 20px;	
}

	/* nav sticky */

.sticky {
	position: sticky;
	top: 0;
	z-index: 9999;
	width: 100%;
	transition: 0.8s;
}
/*nav bar*/
.logo{
	text-align: center;
	
}

.logo span {
	font-size: 42px;
	color: var(--white);	
	font-family: charm;
	height:0px;
}
.logo p{
	color: var(--white);
	font-family: charm;
	font-size: 20px;
	letter-spacing: 3px;
	line-height: 0;
	padding-bottom:5px;
	
	
}

.wrap{
	display:flex;
	justify-content:space-around;
}
nav{
	line-height:2;
}
nav > ul > li{
	list-style-type:none;
	display:inline-block;	
	position:relative;
	width:160px;
}
.wrap{
	background:var(--red);
	height:90px;
}
nav ul li a{
	text-decoration:none;
	display:block;
	padding:10px;                                         
	color:var(--white);
	font-family: var(--h-font-family);
	width: 170px;
    padding-left: 41px;
	text-transform:uppercase;
}

nav ul li ul{
	list-style-type:none;
	position:absolute;
	height:0px;
	overflow:hidden;
	transition: 1s ease-in-out;
	background-color:var(--red);
	z-index: 1;
}
nav ul{
	margin:22px;
}
nav ul li:hover ul, nav ul li a:hover ul{
	height:120px;
}

/*faq*/
.faq_image{
	background-color:black;
	opacity:0.8;
	background-size:cover;
	height:400px;
	width:100%;
}
.accordion {
	border:1px solid #e3e3e3;
	background-color: var(--white);
	color: var(--black);
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	font-size: var(--h-font-size);
	font-family: var(--h-font-family):;
	transition: 0.4s;
}
main div.wrapper_faq{
	display:block;
}

.active, .accordion:hover {
  background-color: var(--white); 
  color: var(--red);
}

.panel {
	padding: 10px 18px; 
	display: none;
	background-color: var(--white);
	color: var(--red);
	overflow: hidden;
	font-size: var(--p-font-size);
	font-family: var(--p-font-family);
	border:1px solid #e3e3e3;
}
/*FOOTER*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
body{
	margin:0;
	padding:0;
}

footer{
	background:var(--black);
	height:300px;
	margin-top:30px !important;
	clear: both;
	border-top:1px solid white;
}

footer .container {
	max-width:1247px;
	width:100%;
	margin:0 auto;
	text-align:center;
	margin-top:100px;
}
footer h2{
	color:var(--white);
}
footer p{
	color:var(--white);
}
footer .col-01 {
	max-width:25%;
	width:100%;
	float:left;
}
footer .col-02 {
	max-width:25%;
	width:100%;
	float:left;
}

footer ul li{
	list-style: none;
}
footer ul li a{
	color:var(--white);
	text-decoration:none;
	text-transform: uppercase;
	font-family: var(--p-font-family);
	margin-bottom:5px;
	
}

footer .col-03 {
	max-width:25%;
	width:100%;
	float:left;
}
footer .col-03 ul {
	padding-left:0;
}


footer .col-03 ul li {
	display: inline-block;
	font-size:var(--p-font-size);
	margin-right:5px;
	
}
footer .col-03 ul li i {
	font-size:25px;
}
footer .col-04 form {
	margin-top:10px;
}
footer .col-04{
	text-align: center;
	
}

footer form input[type="text"], footer form input[type="email"] {
    height: 52px;
    color: var(--black);    
    resize: none;
    border: none;   
    font-family: var(--h-font-family);
    font-size: 16px;
    transition: 1s;
	border-radius: 50px;
	width:18%;
	margin: 0 auto;
}
footer input[type="submit"]{
	 padding: 10px;
	 background: var(--red);
	 color: var(--white);	 
	 border-radius: 50px;
	 padding: 10px;
	 border: 0px;
}
footer ul li:hover a{
	color:var(--red);
	transition: 1s ease-in-out;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 21px;

}

.calendar-section {
display: none;
}

	
